[Unit]
Description=KCS activation

[Service]
User=nobody
Group=nogroup
WorkingDirectory=/
ExecStart=~/root/kcs_forwarder/start.sh
SyslogIdentifier=kcs_forwarder
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
